stages:
  - build
  - upload

build_server:
  image: gradle:8.14-jdk21
  stage: build
  artifacts:
    untracked: false
    expire_in: 7 days
    paths:
      - server.jar
  script:
    - git config --global user.email "ci@gitlab.eps-dev.de"
    - git config --global user.name "CI"
    - export BUILD_NUMBER=$CI_PIPELINE_IID
    - gradle applyAllPatches
    - gradle createMojmapPaperclipJar
    - cp kitty-server/build/libs/kitty-paperclip-1.21.10-R0.1-SNAPSHOT-mojmap.jar server.jar
  needs: []

upload:
  image:
    name: registry.cdev.nexus/kittysuite/version:main
    pull_policy: always
  stage: upload
  needs:
      - build_server
  script:
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.eps-dev.de/Lilly/kittypaperversions.git
    - python3 /app/generate.py
    - cd kittypaperversions
    - git config --global user.email "ci@gitlab.eps-dev.de"
    - git config --global user.name "CI"
    - git remote add gitlab_origin https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.eps-dev.de/Lilly/kittypaperversions.git
    - git add .
    - git commit -m "Update versions for build $CI_PIPELINE_IID"
    - git push gitlab_origin HEAD:main
