stages:
  - build

build_server:
  image: gradle:8.14-jdk21
  stage: build
  artifacts:
    untracked: false
    expire_in: 7 days
    paths:
      - kitty-server/build/libs/*.jar
  script:
    - git config --global user.email "ci@gitlab.eps-dev.de"
    - git config --global user.name "CI"
    - gradle applyAllPatches
    - gradle createMojmapPaperclipJar
  needs: []
