# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/kitty-server/build.gradle.kts
/kitty-server/src/minecraft
/paper-server
/kitty-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
